* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    overflow: hidden;
    padding: 64px 32px;

    min-height: 100vh;
    background: #350B35;
}

.card-section-heading {
    color: var(--Color-2, #FFF);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
}

.container {
    border-radius: 20px;
    background: var(--Color-2, #FFF);
    box-shadow: 0px 4px 19.1px 0px rgba(0, 0, 0, 0.19);
}

.cards {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 40px;
    padding: 16px;
    margin: 64px 0;
}

.card {
    width: 366px;
    height: 514px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 19.1px 0px rgba(0, 0, 0, 0.19);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    /* background: linear-gradient(188deg, rgba(128, 0, 128, 0.30) 6.4%, rgba(255, 134, 76, 0.08) 42.44%); */
}

.container {
    background: #fff;
}

/* .svg-card {
    position: absolute;
    width: 1078.97px;
    height: 623.611px;
    transform: rotate(41.273deg);
    flex-shrink: 0;
    fill: linear-gradient(188deg, rgba(128, 0, 128, 0.30) 6.4%, rgba(255, 134, 76, 0.08) 42.44%);
    opacity: 0.4;
} */

.card-heading>h3 {
    color: var(--tutedude-color-primary-100, #902190);
    font-family: Poppins;
    font-size: 24.858px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.card-top {
    display: flex;
    padding: 16px;
    gap: 12px;
    border-bottom: dashed 1px rgba(128, 0, 128, 0.2);
}

.card-bottom {
    padding: 16px;
    align-self: flex-end;


}

.card-middle {
    padding: 16px 16px 0;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    row-gap: 16px;
    justify-content: space-between;
    column-gap: 19px;

}

.card-main-img {
    width: 94px;
    height: 93px;
    flex-shrink: 0;
    padding: 15px 14px 13px 15px;
    border-radius: 50%;
    background-color: var(--Color-2, #FFF);
    filter: drop-shadow(0px 4px 10.2px rgba(140, 18, 134, 0.18));
}

.card-main-img>img {
    width: 65px;
    height: 65px;
}

.card-company-title {
    color: var(--Woodsmoke-400, #83848D);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 18px */
    text-transform: capitalize;
}

.card-company {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    width: 45%;
}

.card-company-img>img {
    width: 45px;
    height: 45px;
}

.card-company-img {
    display: flex;
    /* padding: 2px 3px; */
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 5.189px 45.795px 0px rgba(59, 59, 59, 0.18);
}

.card-bottom-price {
    display: flex;
    align-items: center;
    gap: 7.5px;

}

.card-price {
    color: var(--Eminence-700, #992E9D);
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.card-discount {
    color: var(--Woodsmoke-600, #595961);
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: strikethrough;
    text-transform: capitalize;
}

.card-off {
    color: #04BD00;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bottom-validity-para {
    color: var(--800080, rgba(128, 0, 128, 0.87));
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}

.bottom-validity {
    display: flex;
    width: 100%;
    padding: 8px;
    justify-content: start;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    border: 1px solid var(--Eminence-700, #992E9D);
}

.bottom-know {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 7.477px;
    background: #800080;
    box-shadow: 0px 4px 8.9px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%;
    /* 22.23px */
}

@media (width<480px) {
    .card {
        width: 90vw;
        min-height: 100%;
    }

    .card-heading>h3 {
        font-size: 20px;
    }

    .card-main-img {
        width: 68.209px;
        height: 67.483px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-main-img>img {
        width: 47.166px;
        height: 47.166px;
        flex-shrink: 0;
    }

    .card-company-img>img {
        width: 38.521px;
        height: 38.521px;
    }

    .card-company-title {
        font-size: 14px;
    }

    .card-price {
        font-size: 28px;
    }

    .card-discount {
        font-size: 14px;
    }

    .card-top,
    .card-bottom {
        padding: 8px 12px 8px 8px;
    }

    .card-middle {
        padding: 8px 12px 0px 8px;
        row-gap: 11px;
    }

    .card-bottom {
        gap: 10px;
        align-self: flex-end;
    }

    .bottom-validity-para {
        font-size: 12px;
    }

    .card {
        width: 290px;
        height: 400px;
        flex-shrink: 0;
        border-radius: 12px;
        background: var(--Color-2, #FFF);
        box-shadow: 0px 3.502px 16.722px 0px rgba(0, 0, 0, 0.19);
        grid-template-rows: auto auto auto;
    }

    .app {
        padding: 64px 16px;
    }

    .cards {
        margin: 32px 0;
    }

    .card-section-heading {
        font-size: 32px;
    }
}

